[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mypy = "*"
mysqlclient = "*"
python-dotenv = "*"
black = "*"
djangorestframework = "*"
channels = "*"
gunicorn = "*"
uvicorn = "*"
pika = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
