[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mypy = "*"
mysqlclient = "*"
python-dotenv = "*"
black = "*"
djangorestframework = "*"
channels = "*"
gunicorn = "*"
pika = "*"
pymysql = "*"
cryptography = "*"
pika-stubs = "==0.1.3"
uvicorn = {version = "*", extras = ["standard"]}
django-cors-headers = "*"
asgiref = "*"
channels-redis = "*"
django-prometheus = "*"

[dev-packages]

[requires]
python_version = "3.11"
