@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BMJUA';
  src: url('/src/assets/fonts/BMJUA.ttf');
}

@font-face {
  font-family: 'crayon';
  src: url('/src/assets/fonts/Pangolin.ttf');
}
